
<div class ="listing-form">
    <h1>New listing</h1>
  <hr>
  <%= simple_form_for(@necklace) do |f| %>
      <%= f.input :name%>
      <%= f.input :price%>
      <%= f.input :description %>
      <%= f.label :gemstone %>
      <%= f.select :gemstone , options_for_select([["Diamond"],["Ruby"],["emerald"],["pearl"], ["Sapphire"], ["Other"]])%>
      <%= f.label :material %>
      <%= f.select :material , options_for_select([["Gold"],["Silver"],["Platinum"],["Titianium"], ["Stainless Steal"], ["Other"]])%>
      <hr>
      <%= f.input :photo, as: :file %>
      <hr>
      <%= f.submit :Create %>
  <% end %>
</div>
