
<div class ="listing-form">
    <h1>Rent your necklace</h1>
  <hr>
  <%= simple_form_for(@necklace) do |f| %>
      <%= f.input :name %>
      <%= f.input :price, label: "Rent price per day" %>
      <%= f.input :description %>
      <%= f.label :gemstone %>
      <%= f.select :gemstone , options_for_select([["Diamond"],["Ruby"],["Emerald"],["Pearl"], ["Sapphire"], ["Other"]])%>
      <%= f.label :material %>
      <%= f.select :material , options_for_select([["Gold"],["Silver"],["Platinum"],["Titianium"], ["Stainless Steel"], ["Other"]])%>
      <hr>
      <%= f.input :photo, as: :file %>
      <hr>
      <%= f.submit :Rent %>
  <% end %>
</div>
