<div class="container mt-3">
  <h1> <%= current_user.username%>'s Account</h1>
  <hr>
  <div class="my-rental-items">
    <h4> I am lending</h4>
    <div class="card-container">
      <% if current_user.necklaces.any? %>
      <% current_user.necklaces.each do |necklace| %>
      <div class="card">
        <%= link_to necklace_path(necklace), class: "delete-icon", data:{turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"} do %>
          <i class="fa-solid fa-trash" style="color: #e9ba70;"></i>
        <% end %>
        <%= cl_image_tag necklace.photo.key, class: "card-img" %>
        <div class="card-body">
          <p class = "rent-card"><%= necklace.name.truncate(23) %>
          <%= link_to edit_necklace_path(necklace) do %>
            <i class="fa-solid fa-pen-to-square" style="color: #eaba72;"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    <% else %>
      <h6>You currently have no necklaces available to rent</h6>
      <%= link_to "Lend a necklace", new_necklace_path %>
    <% end %>
    </div>
    <hr>
    <h4> I am renting</h4>
    <div class="card-container">
      <% if current_user.rentals.any? %>
      <% current_user.rentals.each do |rental| %>
      <div class="card">
        <%= cl_image_tag rental.necklace.photo.key, class: "card-img" %>
        <div class="card-body">
         <p><%= rental.necklace.name.truncate(23) %>
         <p>Start date: <%= rental.start_date %></p>
         <p>End date: <%= rental.end_date %></p>
        </div>
      </div>
       <% end %>
    <% else %>
      <h6>You currently are renting no necklaces</h6>
      <%= link_to "Rent a necklace", necklaces_path %>
    <% end %>
    </div>
  </div>
</div>
