<%= render "shared/navbar" %>
<div class="container mt-3">
  <h1>My rentals</h1>
  <%= link_to "Rent new necklace",  "#", class: "btn btn-warning"%>


  <div class="my-rental-items">
    <div class="card-container">
      <div class="card">
        <%= image_tag "placeholderimg.jpg", class: "card-img" %>
        <div class="card-body">
         <p>Placeholder 1</p>
         <p>name</p>
         <p>description</p>
         <p>gem & material</p>
        </div>
      </div>

      <div class="card">
        <%= image_tag "placeholderimg.jpg", class: "card-img" %>
        <div class="card-body">
         <p>Placeholder 2</p>
         <p>name</p>
         <p>description</p>
         <p>gem & material</p>
        </div>
      </div>

      <div class="card">
        <%= image_tag "placeholderimg.jpg", class: "card-img" %>
        <div class="card-body">
         <p>Placeholder 3</p>
         <p>name</p>
         <p>description</p>
         <p>gem & material</p>
        </div>
      </div>
    </div>
  </div>
</div>
