<div class="container mt-3">
  <h1> <%= current_user.username%>'s Account</h1>

  <div class="my-rental-items">
    <h4> I am lending</h4>
    <div class="card-container">
      <% if current_user.necklaces.any? %>
      <% current_user.necklaces.each do |necklace| %>
      <div class="card">
        <%= link_to "Delete", necklace_path(necklace), data:{turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"} %>
        <%= cl_image_tag necklace.photo.key, class: "card-img" %>
        <div class="card-body">
          <p><%= necklace.name.truncate(26) %>
          <%= link_to edit_necklace_path(necklace) do %>
            <i class="fa-solid fa-pen-to-square" style="color: #eaba72;"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    <% else %>
      <h6>You currently have no necklaces available to rent</h6>
      <%= link_to "Lend a necklace", new_necklace_path %>
    <% end %>
    </div>

    <h4> I am renting</h4>
    <div class="card-container">
      <% if current_user.rentals.any? %>
      <% current_user.rentals.each do |rental| %>
      <div class="card">
        <%= cl_image_tag rental.necklace.photo.key, class: "card-img" %>
        <div class="card-body">
         <p><%= rental.necklace.name %>
        </div>
      </div>
       <% end %>
    <% else %>
      <h6>You currently are renting no necklaces</h6>
      <%= link_to "Rent a necklace", necklaces_path %>
    <% end %>
    </div>
  </div>
</div>
